<?xml version="1.0"?>
<ruleset name="Backdrop Filters">
	<file>./backdrop-filters.php</file>
	<arg name="extensions" value="php"/>
	<arg value="sp"/>
	<config name="testVersion" value="7.4-"/>
	<config name="minimum_wp_version" value="6.6"/>
	<rule ref="WordPress"/>
	<rule ref="PHPCompatibilityWP"/>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="backdrop-filters"/>
			</property>
		</properties>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="backdrop_filters"/>
			</property>
		</properties>
	</rule>
</ruleset>
